html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

    .topnav h1 {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav h1.active {
            background-color: #2196F3;
            color: white;
        }

    .topnav .login-container {
        float: right;
        padding: 14px 16px;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 120px;
    }

    .topnav .login-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #555;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .topnav .login-container button:hover {
            background-color: green;
        }

.rform {
    padding: 10px 80px;
    margin: 10px 80px 10px 700px;
}
.p {
    text-align:right;
    padding:0px 340px 0 0;
    color:darkslateblue;
}
.stxt{
    display:flex;
    justify-content:center;
    align-items:center;
}
.lb {
    display: flex;
    justify-content:space-between;
    padding-left:400px;
    align-items: center;
    margin:10px 0;
}
.leftbar{
    border:solid 1px;
    margin:10px 20px 50px 10px;
    width:369px;
}
.pbtn{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin:10px 10px;
    
}
.pbtn > button{
    width:160px;
}
.sbtn{
    border:solid 1px;
}
.img{
    border:solid 1px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.page1 {
    display: flex;
    align-content:center;
}
.rightbar {
    border: solid 1px;
    margin: 10px 10px 10px 320px;
}
.freq{
    width:200px;
    color:darkblue;
    text-align:center;
}