@{
    ViewData["Title"] = "Login Page";
}
<div class="topnav">

    <h1>Social Networking Site</h1>

    <div class="login-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="psw">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
<div class="reg-form">
    <p class="p fw-bold">Create New Account</p>
    <form class="form-inline rform" action="/action_page.php">
        <label for="fname" class="mr-sm-2 small">First Name:</label>
        <input type="fname" class="form-control mb-2 mr-sm-2" placeholder="Enter first name" id="fname">
        <label for="lname" class="mr-sm-2 small">Last Name:</label>
        <input type="lname" class="form-control mb-2 mr-sm-2" placeholder="Enter last name" id="lname">
        <label for="email" class="mr-sm-2 small">Email address:</label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter email" id="email">
        <label for="mobile" class="mr-sm-2 small">Mobile:</label>
        <input type="phone" class="form-control mb-2 mr-sm-2" placeholder="Enter mobile" id="mobile">
        <label for="city" class="mr-sm-2 small">City:</label>
        <input type="city" class="form-control mb-2 mr-sm-2" placeholder="Enter city" id="city">
        <label for="dob" class="mr-sm-2 small">Birth Of Date:</label>
        <input type="date" class="form-control mb-2 mr-sm-2" placeholder="Enter dob" id="dob">
        <label for="uname" class="mr-sm-2 small">User Name:</label>
        <input type="uname" class="form-control mb-2 mr-sm-2" placeholder="Enter user name" id="fname">
        <label for="pwd" class="mr-sm-2 small">Password:</label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="pwd">
        <label for="pwd" class="mr-sm-2 small">Confirm Password:</label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="pwd">
        <button type="submit" class="btn btn-primary mb-2">Register</button>
    </form>
</div>



